<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>New Task</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style>
	body {
		color: #999;
		background: #f3f3f3;
		font-family: 'Roboto', sans-serif;
	}
    .form-control {
		border-color: #eee;
        min-height: 41px;
		box-shadow: none !important;
	}
    .form-control:focus {
		border-color: #5cd3b4;
	}
    .form-control, .btn {        
        border-radius: 3px;
    }
	.new-task {
		width: 500px;
		margin: 0 auto;
		padding: 30px 0;
	}
    .new-task h2 {
		color: #333;
        margin: 0 0 30px 0;
		display: inline-block;
		padding: 0 0 10px 0;
		border-bottom: 3px solid #5cd3b4;
    }
    .new-task form {
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.new-task .form-group {
		margin-bottom: 20px;
	}
	.new-task label {
		font-weight: normal;
		font-size: 13px;
	}
    .new-task input[type="checkbox"] {
		margin-top: 2px;
	}
    .new-task .btn {        
        font-size: 16px;
        font-weight: bold;
		background: #5cd3b4;
		border: none;
		margin-top: 20px;
		min-width: 140px;
    }
	.new-task .btn:hover, .new-task .btn:focus {
		background: #41cba9;
        outline: none !important;
	}
    .new-task a {
		color: #5cd3b4;
		text-decoration: underline;
	}
	.new-task a:hover {
		text-decoration: none;
	}
    .new-task form a {
		color: #5cd3b4;
		text-decoration: none;
	}	
	.new-task form a:hover {
		text-decoration: underline;
	}
</style>
</head>
<body>
<div class="new-task">
    <form action="/api/newtask" method="post" class="form-horizontal">
		<div class="col-xs-8 col-xs-offset-4">
			<h2>New Task</h2>
		</div>		
        <div class="form-group">
			<label class="control-label col-xs-4">Task</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="task" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Assignee</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="assignee" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Deadline</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="deadline" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Status</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="status" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<div class="col-xs-8 col-xs-offset-4">
				<button type="submit" class="btn btn-primary btn-lg" onclick="return alert('New Task Has Been Added')">Submit</button>
				
			</div>  
		</div>		      
    </form>
	<button class="btn btn-primary btn-lg" onclick="history.back()">Back</button>
</div>
</body>
</html>